body {
  background-color: wheat;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  list-style-type: none;
  padding-top: 26px;
}

li { 
  list-style: none;
}

button {
  margin-top: 20px;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background-color: #fe5000;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

span {
  margin-top: 15px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
